.home {
  display: flex;
  width: 100%;

.whole-content{
  display: flex;
  
}
.contents{
  flex: 6;
}
.profile{
 flex: 3;
}

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      display: flex;
    }
    .table{
      padding-top: 5px;
      padding-left: 5px;
      width: 92%;
      margin-left: 10px;
    }
  }
}

